<div class="intro">
  <div class="container">

    <h2>Obsługiwane protokoły</h2>
    <p>Nasza platforma obsługuje protokoły HTTP/1.1, HTTP/2, HTTP/3, QUIC, TLSv1.1, TLSv1.2 i TLSv1.3.</p>

    <h2>Cache HIT</h2>
      <p>Współczynnik trafień w pamięci podręcznej obejmuje ok. 90% wszystkich żądań.</p>

    <h2>Zewnętrzni dostawcy</h2>
    <ul>
      <li><p>Współpracujemy tylko i wyłącznie z dostawcami dostarczającymi wysokiej jakości sprzęt klasy Enterprise.</p></li>
      <li><p>Ponadto korzystamy z doświadczenia dostawców usług internetowych (ISP).</p></li>
    </ul>

  </div>
</div>
