<div class="intro">
  <div class="container">

    <h1 class="title">Obsługiwane protokoły</h1>
    <div class="content mt-4">
      Nasza platforma obsługuje protokoły HTTP/1.1, HTTP/2, HTTP/3, QUIC, TLSv1.1, TLSv1.2 i TLSv1.3.
    </div>

    <h1 class="title">Cache HIT</h1>
    <div class="content mt-4">
      Współczynnik trafień w pamięci podręcznej obejmuje ok. 90% wszystkich żądań.
    </div>

    <h1 class="title">Zewnętrzni dostawcy</h1>
    <div class="content mt-4">
      <ul>
        <li><p>Współpracujemy tylko i wyłącznie z dostawcami dostarczającymi wysokiej jakości sprzęt klasy Enterprise.</p></li>
        <li><p>Ponadto korzystamy z doświadczenia dostawców usług internetowych (ISP).</p></li>
      </ul>
    </div>

  </div>
</div>
