<div class="intro">
  <div class="container">

    <h2 class="title">Obsługiwane protokoły</h2>
    <div class="content mt-4">
      Nasza platforma obsługuje protokoły HTTP/1.1, HTTP/2, HTTP/3, QUIC, TLSv1.1, TLSv1.2 i TLSv1.3.
    </div>

    <h3 class="title">Cache HIT</h3>
    <div class="content mt-4">
      Współczynnik trafień w pamięci podręcznej obejmuje ok. 90% wszystkich żądań.
    </div>

    <h3 class="title">Zewnętrzni dostawcy</h3>
    <div class="content mt-4">
      Współpracujemy tylko i wyłącznie z dostawcami dostarczającymi wysokiej jakości sprzęt klasy Enterprise.
      Ponadto korzystamy z doświadczenia dostawców usług internetowych (ISP).
    </div>

  </div>
</div>
