.benefit {
  height: 100%;
  /* border: 1px solid $white-offset; */
  border-radius: 3px;
  padding: 20px;
  color: #fff;
  background-color: #42464c;
  box-shadow: 0 10px 10px 0 rgba(0,0,0,0.15);
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  .benefit-image {
    flex: 0 0 auto;
    width: 80px;
    height: 80px;
    display: flex;
    margin-bottom: 20px;
    text-align: center;
  }
  img {
    width: 100%;
    height: auto;
  }
  .benefit-title {
  }
  .benefit-content {
    margin-bottom: 0;
    margin-top: auto;
  }
}

.benefit:hover {
  box-shadow: 0 30px 30px 0 rgba(0,0,0,0.15);
}

h2.title-benefit {
  font-size: 6.2rem;
  color: #fff;
  font-weight: 900;
  text-align: center;
  font-size: 3.5rem;
  margin: auto;
  width: 50%;
  padding: 10px;
}
