.strip {
  /* background: #323539; */
  /* background: #182931; */
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(24,41,49,1) 47%, rgba(81,124,157,0.9542191876750701) 100%);
  background-repeat: no-repeat;
}
.strip-white {
  background: white;
}

.strip-grey {
  background: white;
}

.strip-diagonal {
  transform: skewY(5deg);
  padding-bottom: 50px;
  margin-bottom: 65px;
  > div {
    transform: skewY(-5deg);
  }
}
.strip-primary-gradient {
  background-image: linear-gradient(to right, $primary, $secondary);
}
.strip-primary-gradient-top-bottom {
  background-image: linear-gradient(to bottom, $primary, $secondary);
}
.strip-primary {
  background-color: $primary;
}
.strip-secondary {
  background-color: $secondary;
}

.strip-diagonal-right {
  margin-top: -100px;
  transform: skewY(-5deg);
  padding-bottom: 100px;
  > div {
    transform: skewY(5deg);
  }
}

.strip-diagonal-left {
  margin-top: -100px;
  transform: skewY(5deg);
  padding-bottom: 100px;
  > div {
    transform: skewY(-5deg);
  }
}

.strip-bg-contain {
  background-size: contain;
}

.strip-bg-cover {
  background-size: cover;
}
