---
title: Kontakt
layout: default
bodyClass: page-contact
---

<div class="container pb-6 pt-6 pt-md-10 pb-md-10">
    <div class="row justify-content-start">
        <div class="col-12 col-md-8">
            <div class="service service-single">
                <!-- <h1 class="title">{{page.title}}</h1> -->
                <div class="content mt-4">{{content}}</div>
                <br>
                <form id="fs-frm" name="department-contact-form" accept-charset="utf-8" action="https://formspree.io/f/mbjqrovr" method="post">
                  <fieldset id="fs-frm-inputs">
                    <label for="full-name">Imię i nazwisko</label>
                    <input type="text" name="name" id="full-name" placeholder="Imię i nazwisko" required="">
                    <label for="full-name">Nazwa firmy</label>
                    <input type="text" name="name" id="full-name" placeholder="Nazwa Twojej firmy" required="">
                    <label for="email-address">Adres kontaktowy</label>
                    <input type="email" name="_replyto" id="email-address" placeholder="email@domain.tld" required="">
                    <!--
                    <label for="department">Dział</label>
                    <select name="department" id="department" required="">
                      <option value="Select" selected="" disabled="">Wybierz</option>
                      <option value="Front Desk">Dział biznesowy</option>
                      <option value="Customer Care">Dział techniczny</option>
                      <option value="Billing Accounting">Płatności</option>
                    </select>
                    -->
                    <label for="message">Wiadomość</label>
                    <textarea rows="5" name="message" id="message" placeholder="Napisz o co chodzi. Odpowiemy na wszystkie pytania i pomożemy tak szybko jak to możliwe." required=""></textarea>
                    <input type="hidden" name="_subject" id="email-subject" value="Department Contact Form Submission">
                  </fieldset>
                  <input type="submit" value="Wysyłam">
                </form>
            </div>
        </div>
    </div>
</div>
