---
title: "Escale | Wyjątkowy poziom jakości"
layout: default
bodyClass: page-home
---

<div class="intro">
  <div class="container">
    <div class="row justify-content-start">
      <div class="col-12 col-md-7 col-lg-6 order-2 order-md-1">
        {{ content }}
      </div>
      {% if page.intro_image %}
      <div class="col-12 col-md-5 col-lg-6 order-1 order-md-2 position-relative">
        <img alt={{ page.title }} class="intro-image{% if page.intro_image_absolute %} intro-image-absolute{% endif %}{% if page.intro_image_hide_on_mobile %} intro-image-hide-mobile{% endif %}" src="{{ page.intro_image | relURL }}" />
      </div>
      {% endif %}
    </div>
  </div>
</div>

<div class="strip">
  <div class="container pt-6 pb-6 pb-md-10">
    <div class="row justify-content-start">
      {% assign weighted_services = site.services | sort: "weight" %}
      {% for service in weighted_services %}
      <div class="col-12 col-md-4 mb-1">
        <div class="service service-summary">
          <div class="service-content">
            <h2 class="service-title">
              <p class="title">{{ service.title }}</p>
            </h2>
            <p class="service-content">{{ service.content | markdownify | strip_html | truncate: 100 }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="row justify-content-center">
      <div class="col-auto">
        <br><br>
        <a class="button button-primary" href="{{ "services" | relative_url }}">Więcej</a>
      </div>
    </div>
  </div>
</div>

{% if site.data.features %}
<div class="strip strip-grey">
  <div class="container pt-6 pb-6 pt-md-10 pb-md-10">
    <div class="row justify-content-center">
      {% for feature in site.data.features %}
      <div class="col-12 col-md-6 col-lg-4 mb-2">
        <div class="feature">
          {% if feature.image %}
          <div class="feature-image"><img alt="{{ feature.title }} logo" src="{{ feature.image | relative_url }}" /></div>
          {% endif %}
          <h2 class="feature-title">{{ feature.title }}</h2>
          <div class="feature-content">{{ feature.description }}</div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endif %}

<div class="strip-x">

  <center>
    <h1 class="title-benefit-2">Przykładowe porównanie opłat</h1>

    <table class="greyGridTable">
    <thead>
    <tr>
    <th></th>
    <th><font color="#FB4251">Escale ®</font></th>
    <th>Obecny<br>dostawca</th>
    </tr>
    </thead>
    <tbody>
    <tr>
    <td>Opłata wdrożeniowa</td>
    <td><b>3 500 zł</b></td>
    <td>10 000 zł</td>
    </tr>
    <tr>
    <td>Utrzymanie infrastruktury</td>
    <td><b>6 500 zł</b></td>
    <td>12 000 zł</td>
    </tr>
    <tr>
    <td>Zespół administratorów</td>
    <td><b>0 zł</b></td>
    <td>18 000 zł</td>
    </tr>
    <tr>
    <tr>
    <td>Dodatkowe koszty</td>
    <td><b>0 zł</b></td>
    <td>2 500 zł</td>
    </tr>
    <tr>
    <td><b>Razem miesięcznie</b></td>
    <td><b>6 500 zł</b></td>
    <td><b>32 500 zł</b></td>
    </tr>
    <tr>
    <td><b>Razem rocznie</b></td>
    <td><b>78 000 zł</b></td>
    <td><b>390 000 zł</b></td>
    </tr>
    </tbody>
    </table>

    <br><br><br><br><br>

    <h1 class="title-benefit-2">Co Nas wyróżnia?</h1>

    <div class="offer-content">

      W Escale nie ma ukrytych kosztów. Zależy Nam na ich redukcji i Twoim zadowoleniu.

    </div>
    <div class="offer-content">

      Pamiętaj, że do każdego klienta podchodzimy bardzo indywidualnie i zawsze przedstawiamy w pełni spersonalizowaną ofertę.

    </div>
    <div class="offer-content">

      Dodatkowo otrzymujesz miesięczne rabaty oraz nielimitowany transfer danych, który u nas jest nieograniczony.

    </div>
    <div class="offer-content">

      Płacisz jedynie za utrzymanie w którego skład wchodzi ilość i typ instancji, ilość wykorzystanych adresów IP oraz domen.

    </div>
    <div class="offer-content">

      Do pierwszego miesiąca doliczana jest opłata wdrożeniowa z rabatem nawet do 75%, a przez kolejne 5 miesięcy opłata jest pomniejszona nawet o 50%.

    </div>

  </center>

</div>

<br><br><br><br>
