---
title: "Escale | Wyjątkowy poziom jakości"
layout: default
bodyClass: page-home
---

<div class="intro">
  <div class="container">
    <div class="row justify-content-start">
      <div class="col-12 col-md-7 col-lg-6 order-2 order-md-1">
        {{ content }}
      </div>
      {% if page.intro_image %}
      <div class="col-12 col-md-5 col-lg-6 order-1 order-md-2 position-relative">
        <img alt={{ page.title }} class="intro-image{% if page.intro_image_absolute %} intro-image-absolute{% endif %}{% if page.intro_image_hide_on_mobile %} intro-image-hide-mobile{% endif %}" src="{{ page.intro_image | relURL }}" />
      </div>
      {% endif %}
    </div>
  </div>
</div>

<div class="strip">
  <div class="container pt-6 pb-6 pb-md-10">
    <div class="row justify-content-start">
      {% assign weighted_services = site.services | sort: "weight" %}
      {% for service in weighted_services %}
      <div class="col-12 col-md-4 mb-1">
        <div class="service service-summary">
          <div class="service-content">
            <h2 class="service-title">
              <p class="title">{{ service.title }}</p>
            </h2>
            <p class="service-content">{{ service.content | markdownify | strip_html | truncate: 100 }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="row justify-content-center">
      <div class="col-auto">
        <br><br>
        <a class="button button-primary" href="{{ "services" | relative_url }}">Więcej</a>
      </div>
    </div>
  </div>
</div>

{% if site.data.features %}
<div class="strip strip-grey">
  <div class="container pt-6 pb-6 pt-md-10 pb-md-10">
    <div class="row justify-content-center">
      {% for feature in site.data.features %}
      <div class="col-12 col-md-6 col-lg-4 mb-2">
        <div class="feature">
          {% if feature.image %}
          <div class="feature-image"><img alt="{{ feature.title }} logo" src="{{ feature.image | relative_url }}" /></div>
          {% endif %}
          <h2 class="feature-title">{{ feature.title }}</h2>
          <div class="feature-content">{{ feature.description }}</div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endif %}

<div class="strip">

  <style type="text/css">
  .tg  {border-collapse:collapse;border-spacing:0;}
  .tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
    overflow:hidden;padding:10px 5px;word-break:normal;}
  .tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
    font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
  .tg .tg-t3lw{background-color:#fd6864;font-size:16px;text-align:left;vertical-align:top}
  .tg .tg-43qd{background-color:#ffffff;font-size:16px;font-weight:bold;text-align:center;vertical-align:top}
  .tg .tg-x5q1{font-size:16px;text-align:left;vertical-align:top}
  .tg .tg-tl3h{background-color:#c0c0c0;font-size:16px;text-align:center;vertical-align:top}
  .tg .tg-e1cp{background-color:#fd6864;font-size:16px;font-weight:bold;text-align:center;vertical-align:top}
  .tg .tg-o5ha{background-color:#ffffff;font-size:16px;text-align:left;vertical-align:top}
  </style>
  <table class="tg">
  <thead>
    <tr>
      <th class="tg-x5q1"></th>
      <th class="tg-tl3h">Utrzymanie infrastruktury</th>
      <th class="tg-tl3h">Zespół administratorów</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="tg-t3lw">Escale</td>
      <td class="tg-e1cp">0k</td>
      <td class="tg-e1cp">0k</td>
    </tr>
    <tr>
      <td class="tg-o5ha">Zewnętrzny<br>dostawca</td>
      <td class="tg-43qd">15k</td>
      <td class="tg-43qd">12k</td>
    </tr>
  </tbody>
  </table>


  <div class="container pt-6 pb-6 pb-md-10">
    <div class="row justify-content-start">

      <div class="col-12 col-md-4 mb-1">
        <div class="service service-summary">
          <div class="service-content">
            <h2 class="service-title">
              <p class="title">Escale</p>
            </h2>
            <p class="service-content">
              Utrzymanie infrastruktury: <b>4k</b><br>
              Zespół administratorów: <b>5k</b>
            </p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 mb-1">
        <div class="service service-summary">
          <div class="service-content">
            <h2 class="service-title">
              <p class="title">Zewnętrzny dostawca</p>
            </h2>
            <p class="service-content">
              Utrzymanie infrastruktury: <b>15k</b><br>
              Zespół administratorów: <b>12k</b>
            </p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
