---
title: "Escale | Wyjątkowy poziom jakości"
layout: default
bodyClass: page-home
---

<div class="intro">
  <div class="container">
    <div class="row justify-content-start">
      <div class="col-12 col-md-7 col-lg-6 order-2 order-md-1">
        {{ content }}
      </div>
      {% if page.intro_image %}
      <div class="col-12 col-md-5 col-lg-6 order-1 order-md-2 position-relative">
        <img alt={{ page.title }} class="intro-image{% if page.intro_image_absolute %} intro-image-absolute{% endif %}{% if page.intro_image_hide_on_mobile %} intro-image-hide-mobile{% endif %}" src="{{ page.intro_image | relURL }}" />
      </div>
      {% endif %}
    </div>
  </div>
</div>

<div class="strip">
  <div class="container pt-6 pb-6 pb-md-10">
    <div class="row justify-content-start">
      {% assign weighted_services = site.services | sort: "weight" %}
      {% for service in weighted_services %}
      <div class="col-12 col-md-4 mb-1">
        <div class="service service-summary">
          <div class="service-content">
            <h2 class="service-title">
              <p class="title">{{ service.title }}</p>
            </h2>
            <p class="service-content">{{ service.content | markdownify | strip_html | truncate: 100 }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="row justify-content-center">
      <div class="col-auto">
        <br><br>
        <a class="button button-primary" href="{{ "services" | relative_url }}">Więcej</a>
      </div>
    </div>
  </div>
</div>

{% if site.data.features %}
<div class="strip strip-grey">
  <div class="container pt-6 pb-6 pt-md-10 pb-md-10">
    <div class="row justify-content-center">
      {% for feature in site.data.features %}
      <div class="col-12 col-md-6 col-lg-4 mb-2">
        <div class="feature">
          {% if feature.image %}
          <div class="feature-image"><img alt="{{ feature.title }} logo" src="{{ feature.image | relative_url }}" /></div>
          {% endif %}
          <h2 class="feature-title">{{ feature.title }}</h2>
          <div class="feature-content">{{ feature.description }}</div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endif %}

<div class="strip-x">

  <style type="text/css">
    table.greyGridTable {
      border: 2px solid #FFFFFF;
      width: 60%;
      height: 150px;
      text-align: center;
      border-collapse: collapse;
    }
    table.greyGridTable td, table.greyGridTable th {
      border: 1px solid #FFFFFF;
      padding: 3px 4px;
    }
    table.greyGridTable tbody td {
      font-size: 18px;
      color: #333333;
    }
    table.greyGridTable td:nth-child(even) {
      background: #FBD6D6;
    }
    table.greyGridTable thead {
      background: #FFFFFF;
      border-bottom: 4px solid #333333;
    }
    table.greyGridTable thead th {
      font-size: 20px;
      font-weight: bold;
      color: #333333;
      text-align: center;
      border-left: 2px solid #333333;
    }
    table.greyGridTable thead th:first-child {
      border-left: none;
    }

    table.greyGridTable tfoot td {
      font-size: 14px;
    }
  </style>

  <center>
    <h1 class="feature-title">Przykładowe porównanie opłat</h1>

    <br>

    <table class="greyGridTable">
    <thead>
    <tr>
    <th></th>
    <th>Escale</th>
    <th>Zewnętrzny<br>dostawca</th>
    </tr>
    </thead>
    <tbody>
    <tr>
    <td>Utrzymanie infrastruktury</td>
    <td><b>0zł</b></td>
    <td>15.000 zł</td>
    </tr>
    <tr>
    <td>Zespół administratorów</td>
    <td><b>0zł</b></td>
    <td>12.000 zł</td>
    </tr>
    <tr>
    <tr>
    <td>Dodatkowe koszty</td>
    <td><b>0zł</b></td>
    <td>2.500zł</td>
    </tr>
    <tr>
    <td>Razem</td>
    <td><b>0zł</b></td>
    <td><b>29.500zł</b></td>
    </tr>
    </tbody>
    </table>

    <br><br>

    <div class="feature-content">
      <i><sup>*</sup> W Escale nie ma ukrytych kosztów. Dodatkowo nie płacisz za transfer danych, domeny czy certyfikaty.</i>
    </div>
    <div class="feature-content">
      <i><sup>**</sup> Jedynymi Twoimi opłatami są te za ilość instancji, ilość utrzymywanych kopii zapasowych, ilość wykorzystanych adresów IP, szybkość łącza oraz rozszerzone SLA.</i>
    </div>
    <div class="feature-content">
      <i><sup>***</sup> Pamiętaj, że do każdego klienta podchodzimy bardzo indywidualnie i zawsze przestawiamy w pełni spersonalizowaną ofertę. Zależy Nam na Twoim zadowoleniu i redukcji kosztów.</i>
    </div>

  </center>

</div>

<br><br>
