---
layout: default
bodyClass: page-services-list
---

<div class="intro">
  <div class="container">
    <div class="row justify-content-start">
      <div class="col-12 col-md-7 col-lg-6 order-2 order-md-1">
        {{ content }}
      </div>
      {% if page.intro_image %}
      <div class="col-12 col-md-5 col-lg-6 order-1 order-md-2 position-relative">
        <img alt={{ page.title }} class="intro-image{% if page.intro_image_absolute %} intro-image-absolute{% endif %}{% if page.intro_image_hide_on_mobile %} intro-image-hide-mobile{% endif %}" src="{{ page.intro_image | relative_url }}" />
      </div>
      {% endif %}
    </div>
  </div>
</div>

{% if site.data.benefits %}
<div class="strip">
  <div class="container pt-6 pb-6 pt-md-10 pb-md-10">
    <center><h2 class="title-benefit">Dlaczego klienci wybierają Escale ®</h2></center>
    <div class="row justify-content-center">
      {% for benefit in site.data.benefits %}
      <div class="col-12 col-md-6 col-lg-4 mb-2">
        <div class="benefit">
          {% if benefit.image %}
            <center><div class="benefit-image"><img alt="{{ benefit.title }} logo" src="{{ benefit.image | relative_url }}" /></div></center>
          {% endif %}
          <h2 class="benefit-title">{{ benefit.title }}</h2>
          <div class="benefit-content">{{ benefit.description }}</div>
        </div>
      </div>
      {% endfor %}

    </div>
  </div>
</div>
{% endif %}

<div class="container pt-6 pb-6">
  <div class="row">

    <div class="col-12 col-md-6 mb-3">
      <div class="service service-summary">
        <div class="service-content">

          <h2 class="service-title">Zarządzanie infastrukturą</h2>
          <h3>Skup się na rozwoju i oszczędź czas na zarządzaniu środowiskiem dzięki naszemu wsparciu.<h3>
          <p class="service-text">
            <img class="service-text" src="/images/illustrations/manage-up.png">
            Dbając o rozwój swojej firmy, możesz skoncentrować czas i zasoby na podstawowej działalności.
            Przekaż Nam utrzymanie infrastruktury zwiększając zyski Twojej firmy nawet 4x!
          </p>

        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 mb-3">
      <div class="service service-summary">
        <div class="service-content">

          <h2 class="service-title">Niezawodność i wydajność</h2>
          <h3>Zapewniamy wysoką niezawodność i wydajność wszędzie tam, gdzie tego potrzebujesz.<h3>
          <p class="service-text">
            <img class="service-text" src="/images/illustrations/performance-up.png">
            Użytkownicy oczekują, że zawartość będzie dostarczana z niemal natychmiastową szybkością.
            Nasze środowiska mogą obsłużyć różne poziomy ruchu, od małego bloga po naprawdę potężne witryny.
          </p>

        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 mb-3">
      <div class="service service-summary">
        <div class="service-content">

          <h2 class="service-title">Przyspiesz swoją aplikację</h2>
          <h3>Twórz i dostarczaj wydajniejsze aplikacje internetowe skracając czas wczytywania strony.<h3>
          <p class="service-text">
            <img class="service-text" src="/images/illustrations/speed-up.png">
            Oczekiwania dotyczące witryn nigdy nie były tak wysokie.
            Jeśli nie są szybkie, bezpieczne i wysoce spersonalizowane, użytkownicy przenoszą się do konkurencji.
          </p>

        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 mb-3">
      <div class="service service-summary">
        <div class="service-content">

          <h2 class="service-title">Bezproblemowe wdrażanie</h2>
          <h3>Utrzymujemy platformę stworzoną specjalnie dla Ciebie i wszystkich Twoich klientów.<h3>
          <p class="service-text">
            <img class="service-text" src="/images/illustrations/scale-up.png">
            Dostarczamy zoptymalizowane pod kątem szybkości, bezpieczeństwa i skali środowiska — dzięki czemu firmy mogą skutecznie przekształcać się,
            aby konkurować na rynku.
          </p>

        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 mb-3">
      <div class="service service-summary">
        <div class="service-content">

          <h2 class="service-title">Load Balancing</h2>
          <h3>Zwiększ niezawodność swoich aplikacji poprzez natychmiastowe automatyczne skalowanie.<h3>
          <p class="service-text">
            <img class="service-text" src="/images/illustrations/route-up.png">
             Stosujemy różne algorytmy dystrybucji, aby lepiej zarządzać obciążeniem. Obsługujemy żądania wysyłane do Twoich aplikacji za pomocą zasad uwzględniających treść.
          </p>

        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 mb-3">
      <div class="service service-summary">
        <div class="service-content">

          <h2 class="service-title">Cache Ratio</h2>
          <h3>Pomagamy przyspieszyć ładowanie strony poprzez maksymalne zminimalizowanie opóźnień.<h3>
          <p class="service-text">
            <img class="service-text" src="/images/illustrations/cache-up.png">
             Zaprojektowaliśmy wysokiej jakości klaster pamięci podręcznej wspomagający Twoje aplikacje i pozwalający skrócić czas ładowania strony do minimum.
          </p>

        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 mb-3">
      <div class="service service-summary">
        <div class="service-content">

          <h2 class="service-title">Automatyczny backup</h2>
          <h3>Twoje dane są dla Nas najważniejsze dlatego chronimy jest za pomocą automatycznych kopii zapasowych.<h3>
          <p class="service-text">
            <img class="service-text" src="/images/illustrations/backup-up.png">
             Zapewniamy różne polityki tworzenia i przechowywania kopii zapasowych. Ponadto cyklicznie je testujemy w celu całkowitego wyeliminowania możliwych błędów.
          </p>

        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 mb-3">
      <div class="service service-summary">
        <div class="service-content">

          <h2 class="service-title">Bezpieczeństwo</h2>
          <h3>Chronimy Twoje aplikacje internetowe i interfejsy API, bez względu na sposób ich wdrażania.<h3>
          <p class="service-text">
            <img class="service-text" src="/images/illustrations/security-up.png">
            Mamy wgląd w wydarzenia i powiadomienia Twojego środowiska w czasie rzeczywistym. Zapewniamy separację i globalnie zasady bezpieczeństwa.
          </p>

        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 mb-3">
      <div class="service service-summary">
        <div class="service-content">

          <h2 class="service-title">99,98% dostępności</h2>
          <h3>Zapewniamy wysoką dostępność Twojej aplikacji. Robimy to dublując wszystko co się da.<h3>
          <p class="service-text">
            <img class="service-text" src="/images/illustrations/sla-up.png">
             Nasza odporna na awarie i wydajna infrastruktura zapewnia wysoką dostępność i niezawodność umożliwiając firmom sprostanie rosnącym oczekiwaniom klientów.
          </p>

        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 mb-3">
      <div class="service service-summary">
        <div class="service-content">

          <h2 class="service-title">TIER III</h2>
          <h3>W zakresie Data Center wykorzystujemy tylko te spełniające rygorystyczne standardy branżowe.<h3>
          <p class="service-text">
            <img class="service-text" src="/images/illustrations/tier3.png">
            Dostarczamy zoptymalizowane pod kątem szybkości, bezpieczeństwa i skali środowiska — dzięki nam firmy mogą skutecznie przekształcać się,
            aby konkurować na rynku.
          </p>

        </div>
      </div>
    </div>

    {% include stats.html %}

  </div>
</div>
